html {
    scroll-behavior: smooth;
}


.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1920px;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family:"Century Gothic", serif;
    line-height: 36px;
    font-size: 24px;
    overflow-x: hidden;
}
.block {
    overflow: hidden;
}

header {
    padding: 0;
    font-size: 24px;
}

.header-nav {
    margin: 0 15px;
    padding: 0;
    display: grid;
    grid-template-columns: 171px 1fr 245px;   
    gap: 15%;  
    align-items: center;

}

.logo-nav {
    padding: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo-nav p{
    text-align: center;
}


.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0;
    /* margin-left: auto; */
}

/* .navigation li:not(.add-services li) {
    margin-let: 80px;
} */

.navigation li:first-child {
    margin: 0;
}

.navigation li {
    list-style: none;
}

.navigation li a{
    text-decoration: none;
    color: #18a0fb;
}


.header-phone {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-phone a {
    color: black;
    text-decoration: none;
}

.header-phone a:hover {
    color: #18a0fb;
}

.navigation li:hover:not(.add-services li),
.all-dignities a:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

.services{
    position: relative;
}

.add-services{
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    padding: 0;
}

.add-services li {
    padding: 10px 20px;
    font-size: 24px;
    line-height: 30px;
}

.add-services li:hover {
    background-color: #F5F5F5;
}   

.navigation li:hover .add-services {
    display: block;
    z-index: 1;
}

.hamb {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    display: none;
    cursor: pointer;
}

.icon{
    width: 50px;
    height: 10px;
    background-color: #33cc99;
    position: relative;
    transition: 0.5s;
}

.icon::after,
.icon::before {
    content: "";
    width: 50px;
    height: 10px;
    position: absolute;
    background-color: #33cc99;
    transition: 0.5s;
}

.icon::after{
    bottom: 15px;
    left: 0;
}

.icon::before{
    top: 15px;
    left: 0;
}

.active{
    background: transparent;
}

.active::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.active::before {
    top: 0;
    transform: rotate(45deg);
}

.about {
    z-index: -1;
    padding: 0;
    position: relative;
    padding-bottom: 880px;
    background-image: url(../image/kombain-head1.jpg);
    background-repeat: no-repeat;
    background-size:100%;
    background-position: top center;
}

.partners {
    text-align: center;
}

.all-partners {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    flex-wrap: wrap;
}

.all-partners img {
    width: 300px;
    height: auto;
}

.mainString {
    text-align: left;
}

.contacts {
    margin: 10px 90px 30px;
    line-height: 16px;
    text-align: left;
    border-left:3px solid #18a0fb;
    padding-left: 10px;
    border-top: 3px solid #18a0fb;
    width: auto;
}

.contacts a,
.footer-logo {
    color: black;
    text-decoration: none;
}

.contacts a:hover,
.footer-logo:hover {
    color: #18a0fb;
}

.dignities, 
.partners {
    margin: 0;
    padding: 50px 50px 0;
}
.dignities {
    margin-bottom: 30px;
}

.all-dignities {
    margin: 10px auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    row-gap: 100px;
}

.all-dignities div{
    position: relative;
}

.all-dignities h3{
    padding-bottom: 24px;
    margin: 0;
}

.dignities h2{
    padding-bottom: 60px;
    font-size: 2.6em;
    line-height: 36px;
}

.dignities p{
    padding-bottom: 48px;
}

.all-dignities a {
    color: #18A0FB;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    position: absolute;
    bottom: -25px;
    left: 0;
    border: 1px solid #18A0FB;
}

.social {
    display: inline-flex;
    justify-content: space-around;
    column-gap: 20px;
}

.social li {
    list-style: none;
}

.fdn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.fdn a{
    background-image: url(../image/social.png);
}
.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px;
    align-items: center;
}

.image1 {
    width: 100%;
}

.service1 .ser-photo {
    /* height: 440px; */
    margin-right: 100px;
    background-size: 100% ;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}

.service2 .ser-photo {
    /* height: 440px; */
    margin-left: 100px;
    order: 2;
    background-size: 100%;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.service2 {
    background: #F5F5F5;
}


/* .service .ph1 {
    background-image: url("../image/razrab2.jpg");
}

.ph2 {
    background-image: url("../image/agroboty.jpg");
}

.ph3 {
    background-image: url("../image/stanok.jpg");
}

.service .ph4 {
    background-image: url("../image/protophoto.jpg");
} */

.all-partners a:hover img{
    transform: scale(1.1);
    transition: 0.2s;
}

.contt-1 {
    display: inline-block;  
}
 
.contt-2 {
    display: none;
}

.map {
    margin: 0 auto;
    width: 90%;
}

.container-footer {
    margin: 0 auto;
    padding: 0 60px;
    background-color: #F5F5F5;
    margin-top: 30px;
    max-width: 1920px;
    box-sizing: border-box;
}

.for-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    padding: 0;
    margin-right: auto;
}


div,
p,
a,
h1,
h2,
h3,
ul,
li,
img,
header,
main,
footer {
    border: 1px solid blck;
}


@media (max-width: 1600px) {
    body {
        font-size: 18px;
        line-height: 28px;
    }
    .about {
        background-size: auto 100%;
        background-position: 0 center;
    }
    .service {
        padding: 50px;
    }
    .map {
        width: 88%;
    }
}

@media (max-width: 1366px) {
    .header-nav {
        gap: 50px;
    }
    body {
        font-size: 18px;
        line-height: 28px;
    }
    .service {
        padding: 30px;
    }
    .all-partners img {
        width: 260px;
        height: auto;
    }
    .about {
        padding-bottom: 700px;
    }
}

@media (max-width:1100px) {
    /* .logo-nav p, */
    .header-phone {
        display: none;
    }
    .header-nav {
        gap: 100px;
    }
    .header-nav {
        grid-template-columns: 171px 1fr; 
    }
}

@media (max-width: 768px) {
    .logo-nav p {
        display: none;
    }
    .logo-nav {
        height: 60px;
    }
    .header-nav {
        font-size: 16px;
        gap: 10px;
        margin: 0px;
    }
    .navigation {
        display: block;
        position: absolute;
        font-size: 2.6em;
        line-height: 3em;
        top: 0;
        right: -100%;
        background: white;
        padding: 30px;
        transition: 1s;
    }
    .navigation li:hover .add-services {
        display: none;
        z-index: 1;
    }
    .hamb {
        display: flex;
    }
    .about {
        padding-bottom: 410px;
    }
    .dignities {
        padding: 20px 20px 0;
    }
    .dignities h2 {
        padding-bottom: 20px;
    }
    .dignities h3 {
        padding-bottom: 16px;
    }
    .dignities p {
        padding-bottom: 16px;
        margin: 0;
        font-size: 15px;
    }
    .all-dignities a {
        padding: 5px;
    }
    .all-dignities {
        padding: 0 0 0 30px;
        row-gap: 100px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .all-dignities div {
        width: 304px;
        padding-bottom: 20px;
    }
    .ser-info h3 {
        margin: 0 0 20px;
    }
    .ser-info p {
        font-size: 15px;
    }
    .service {
        padding: 20px;
        display: block;
    }
    .service1 .ser-photo {
        margin: 30px 0;
    }
    .service2 .ser-photo {
        margin: 30px 0;
    }
    /* .service1:first-child .ser-photo {
        background-size: 100% auto;
    }
    .service2:last-child .ser-photo {
        margin: 0;
    } */
    .contacts {
        margin: 10px 45px 30px;
    }
    .contt-1 {
        display: none;  
      }
      .contt-2 {
          display: inline-block;
      }
      .for-logo {
        padding: 0px;
    }
}

@media (max-width: 480px) {
    /* .service1:first-child .ser-photo {
        height: 220px;
    }
    .service2:last-child .ser-photo {
        height: 200px;
    } */
    
}

.nav-active {
    right: -1px;
    transition: 1s;
}
